@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #1e293b;
  font-family: "Nunito", sans-serif;
}
::selection {
  background-color: #EB4899;
  color: #000000;
}